@CHARSSET "UTF-8";

body {
    collor: #aaeeaa;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 90px;
    background-color: #aaddaa
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    width: 94%;
    padding-top: 17px;
    padding-left: 3%;
    font-size: 36px;
    color: #fcfffc;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #559d9d;
}

table,tr,th,td{
    border: 1px solid #cceecc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 15%;
    padding: 10px 2%;
}

td {
    width: 85%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    paddind: 5px 10px;
}

#footer {
    padding-left: 10%;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #e6f9ef;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

